body {
  background-image: url('../assets/images/city.jpg');
  background-repeat: no-repeat;
  background-position: top 80%;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
}

#map {
  height: 50vh;
  width: 50vw;
}

